<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifySongTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SpotifySongTracker.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Arial, 12pt</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TextBackground" serializeAs="String">
                <value>75, 134, 192</value>
            </setting>
            <setting name="MaxSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="TextOutline" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OutputType" serializeAs="String">
                <value>TXT</value>
            </setting>
        </SpotifySongTracker.Properties.Settings>
    </userSettings>
</configuration>